{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<header class="text-center my-4 container">
  <h1>Password Changed</h1>
</header>

<div class="container d-flex justify-content-center">
  <div class="login-form text-center w-100" style="max-width: 500px;">
    <p>Your password has been changed successfully.</p>

    <a href="{% url 'account_login' %}" class="btn btn-primary mt-3">
      Back to Login
    </a>
  </div>
</div>
{% endblock %}