/* ======== GLOBAL ======== */
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: rgb(183, 156, 201); /* morado */
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ======== CONTENEDOR GENERAL ======== */
.game-wrapper {
  text-align: center;
  width: 100%;
  max-width: 500px;
}

/* ======== TÍTULO ======== */
.game-title {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  margin-top:-12rem;
  margin-bottom: 12rem;
}

/* ======== SCORE Y TIEMPO ======== */
.game-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/* ======== PALABRA ACTUAL ======== */
.current-word {
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
  color: #0073e6;
  font-weight: bold;
}

/* ======== CAJA BLANCA ======== */
.answer-box {
  background-color: white;
  padding: 1.3rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  color: #0073e6;
  font-weight: bold;
  font-size: 1.6rem;
}

/* INPUT */
#guess-input {
  font-size: 1.5rem;
  font-weight: bold;
  color:  yellow;
  text-shadow: 2px 2px 5px rgba(15, 13, 13, 0.3);
    text-shadow: 
    -0.8px -0.8px 0 black, /* Primer borde: negro */
     0.8px -0.8px 0 black, 
    -0.8px  0.8px 0 black, 
     0.8px  0.8px 0 black;
}

/* LISTA */
#answers-list {
  text-align: left;
  padding-left: 1.5rem;
  
}

main > .text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /* ocupa toda la altura de la pantalla */
}

#score, #time, .stat-score, .stat-time {
    color: pink;
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(15, 13, 13, 0.3);
    text-shadow: 
    -1px -1px 0 black, /* Primer borde: negro */
     1px -1px 0 black, 
    -1px  1px 0 black, 
     1px  1px 0 black;
}

.stat-score, .stat-time {
    font-size: 1.3rem;
}

/* pantallas pequeñas */
@media (max-width: 767.98px) {
  body {
    height: 100vh;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-left: 15px solid rgb(24, 24, 24);
    border-right: 15px solid rgb(24, 24, 24);
    border-top: 10px solid rgb(24, 24, 24);
    border-bottom: 10px solid rgb(24, 24, 24);
  }
  
    .answer-box {
    width: 300px;
    margin: 0 auto;
  }

   .stat-score{
    position: relative;
    left: 20px;
  }

  .stat-time {
    position: relative;
    left: -20px;
  }
  
  h1 {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(183, 156, 201);
    padding: 8px 0;
    margin-top: 0;
  }
}

/* ======== TABLET ======== */
@media (min-width: 768px) and (max-width: 1024px) {

  h1 {
    font-size: 3.6rem !important;
  }


  .player-button {
    font-size: 1.4rem !important;
  }

  #score,
  #time,
  .stat-score,
  .stat-time {
    font-size: 2.5rem !important;
  }

   .stat-score{
    position: relative;
    left: -30px;
  }

  .stat-time {
    position: relative;
    left: 50px;
  }

   #guess-input {
    width: 250px !important;
    height: 65px !important;
    font-size: 2.2rem !important;
    margin: 0 auto;
  }

   h2 {
    font-size: 3rem !important;
  }

   #answers-list li {
    font-size: 2.3rem;
  }
}

  








  
  















