/* ======== GLOBAL ======== */
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(183, 156, 201);
  margin: 0;
}
   
h1 {
    text-align: center;
  }

/* ======== NAVBAR ======== */
.navbar-nav {
    align-items: center; /* centra los items verticalmente dentro del contenedor */
  }

.navbar .nav-link {
    font-size: 1.2rem; /* tamaño más grande (1rem = 16px aprox.) */
  }

.navbar .nav-link:hover {
    background-color: #7cbbe8;
    color: black !important;   /* cambia el color del texto */
    border-radius: 50%;
    transform: scale(1.50);
  }

.dropdown-menu {
    background-color: rgb(209, 136, 217) !important;
  }

/* Estilo de los enlaces dentro del submenú */
.dropdown-item {
    color: black !important;
    font-weight: bold;
    font-size: 1.2rem;  /* mismo tamaño que navbar */
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
  }

 /* Color al pasar el mouse */
.dropdown-item:hover {
    background-color: rgb(237, 221, 221) !important;
    color: rgb(189, 22, 39) !important;
    transform: scale(1.2);
  }

.login-form {
    width: 90%;
    max-width: 500px; /* Establece un ancho máximo */
    margin: 50px auto; /* Centra horizontalmente */
    padding: 30px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center; 
    background-color: rgb(184, 200, 239);
  }

.btn:hover {
    background: #f57af3;
  }

/* ======== FOOTER ======== */
i {
    color: rgb(0, 0, 0);
    padding: 2rem;
    font-size: 2.3rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
  }

footer .text-dark {
    -webkit-text-stroke: 0.7px black;
}

.container i:hover {
    color: #0073e6;  /* Cambiar color al pasar el mouse */
    transform: scale(1.5); 
  }

.copyright {
    text-align: left;
    padding: 1rem;
    background-color: #f1f1f1;
    font-size: 0.9rem;
    color: #555;
  }

.fly-message {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    background: #f57af3;
    color: white;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
    transition: transform 1s ease-out, opacity 1s ease-out;
  }

.fly-message.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-300px);
  }

/*  pantallas pequeñas */
@media (max-width: 768px) {
    body {
      border-left: 30px solid #f8f9fa;
      border-right: 30px solid #f8f9fa;
    }

    header {
    position: relative;
    top: 30px;
  }

  .navbar .nav-link:hover {
    transform: none;
  }

  .dropdown-item:hover {
    transform: none;
  }

  footer .col-auto.d-flex {
    flex-wrap: wrap;
    gap: 0.8rem !important;
  }

  i {
    padding: 0.5rem;
    font-size: 1.7rem;
  }

  .container i:hover {
    transform: scale(1.1);
  }

  .copyright {
    text-align: center;
    padding: 0.8rem;
  }

   footer.mt-5 {
    margin-top: auto !important;
  }
}

/*  Tablet */

@media (min-width: 768px) and (max-width: 1024px) {
   main {
    flex: 1;
  }
   
   label {
    font-size: 2.3rem;
  }

   button,
   .btn {
    font-size: 1.4rem;
    padding: 12px 20px;
  }

    h1 {
    font-size: 2.8rem;
    margin-top: 80px;
  }

    input,
    textarea {
    width: 100%;
    max-width: 600px;
    height: 70px;
    font-size: 1.8rem !important;
    padding: 14px;
  }

   .navbar .nav-link {
    font-size: 1.7rem;
  }

  .navbar-brand span {
    font-size: 1.5rem;
  }

  .navbar-brand span {
    font-size: 1.8rem;
  }
}